services:
  filter-node-year-1:
    container_name: filter-node-year-1
    build: .
    environment:
    - RABBITMQ_HOST=rabbitmq
    - RABBITMQ_PORT=5672
    - RABBITMQ_USER=admin
    - RABBITMQ_PASSWORD=admin
    - NODE_ROLE=filter_year
    - NODE_ID=1
    networks:
    - coffee_net
    volumes:
    - ./config/filter_year.json:/app/config/filter_year.json:ro
  filter-node-year-2:
    container_name: filter-node-year-2
    build: .
    environment:
    - RABBITMQ_HOST=rabbitmq
    - RABBITMQ_PORT=5672
    - RABBITMQ_USER=admin
    - RABBITMQ_PASSWORD=admin
    - NODE_ROLE=filter_year
    - NODE_ID=2
    networks:
    - coffee_net
    volumes:
    - ./config/filter_year.json:/app/config/filter_year.json:ro
  filter-node-year-3:
    container_name: filter-node-year-3
    build: .
    environment:
    - RABBITMQ_HOST=rabbitmq
    - RABBITMQ_PORT=5672
    - RABBITMQ_USER=admin
    - RABBITMQ_PASSWORD=admin
    - NODE_ROLE=filter_year
    - NODE_ID=3
    networks:
    - coffee_net
    volumes:
    - ./config/filter_year.json:/app/config/filter_year.json:ro
  filter-node-year-4:
    container_name: filter-node-year-4
    build: .
    environment:
    - RABBITMQ_HOST=rabbitmq
    - RABBITMQ_PORT=5672
    - RABBITMQ_USER=admin
    - RABBITMQ_PASSWORD=admin
    - NODE_ROLE=filter_year
    - NODE_ID=4
    networks:
    - coffee_net
    volumes:
    - ./config/filter_year.json:/app/config/filter_year.json:ro
  filter-node-hour-1:
    container_name: filter-node-hour-1
    build: .
    environment:
    - RABBITMQ_HOST=rabbitmq
    - RABBITMQ_PORT=5672
    - RABBITMQ_USER=admin
    - RABBITMQ_PASSWORD=admin
    - NODE_ROLE=filter_hour
    - NODE_ID=1
    networks:
    - coffee_net
    volumes:
    - ./config/filter_hour.json:/app/config/filter_hour.json:ro
  filter-node-hour-2:
    container_name: filter-node-hour-2
    build: .
    environment:
    - RABBITMQ_HOST=rabbitmq
    - RABBITMQ_PORT=5672
    - RABBITMQ_USER=admin
    - RABBITMQ_PASSWORD=admin
    - NODE_ROLE=filter_hour
    - NODE_ID=2
    networks:
    - coffee_net
    volumes:
    - ./config/filter_hour.json:/app/config/filter_hour.json:ro
  filter-node-hour-3:
    container_name: filter-node-hour-3
    build: .
    environment:
    - RABBITMQ_HOST=rabbitmq
    - RABBITMQ_PORT=5672
    - RABBITMQ_USER=admin
    - RABBITMQ_PASSWORD=admin
    - NODE_ROLE=filter_hour
    - NODE_ID=3
    networks:
    - coffee_net
    volumes:
    - ./config/filter_hour.json:/app/config/filter_hour.json:ro
  filter-node-hour-4:
    container_name: filter-node-hour-4
    build: .
    environment:
    - RABBITMQ_HOST=rabbitmq
    - RABBITMQ_PORT=5672
    - RABBITMQ_USER=admin
    - RABBITMQ_PASSWORD=admin
    - NODE_ROLE=filter_hour
    - NODE_ID=4
    networks:
    - coffee_net
    volumes:
    - ./config/filter_hour.json:/app/config/filter_hour.json:ro
  filter-node-amount-1:
    container_name: filter-node-amount-1
    build: .
    environment:
    - RABBITMQ_HOST=rabbitmq
    - RABBITMQ_PORT=5672
    - RABBITMQ_USER=admin
    - RABBITMQ_PASSWORD=admin
    - NODE_ROLE=filter_amount
    - NODE_ID=1
    networks:
    - coffee_net
    volumes:
    - ./config/filter_amount.json:/app/config/filter_amount.json:ro
  filter-node-amount-2:
    container_name: filter-node-amount-2
    build: .
    environment:
    - RABBITMQ_HOST=rabbitmq
    - RABBITMQ_PORT=5672
    - RABBITMQ_USER=admin
    - RABBITMQ_PASSWORD=admin
    - NODE_ROLE=filter_amount
    - NODE_ID=2
    networks:
    - coffee_net
    volumes:
    - ./config/filter_amount.json:/app/config/filter_amount.json:ro
  filter-node-amount-3:
    container_name: filter-node-amount-3
    build: .
    environment:
    - RABBITMQ_HOST=rabbitmq
    - RABBITMQ_PORT=5672
    - RABBITMQ_USER=admin
    - RABBITMQ_PASSWORD=admin
    - NODE_ROLE=filter_amount
    - NODE_ID=3
    networks:
    - coffee_net
    volumes:
    - ./config/filter_amount.json:/app/config/filter_amount.json:ro
  filter-node-amount-4:
    container_name: filter-node-amount-4
    build: .
    environment:
    - RABBITMQ_HOST=rabbitmq
    - RABBITMQ_PORT=5672
    - RABBITMQ_USER=admin
    - RABBITMQ_PASSWORD=admin
    - NODE_ROLE=filter_amount
    - NODE_ID=4
    networks:
    - coffee_net
    volumes:
    - ./config/filter_amount.json:/app/config/filter_amount.json:ro
  group-by-node-q2-1:
    container_name: group-by-node-q2-1
    build: .
    environment:
    - RABBITMQ_HOST=rabbitmq
    - RABBITMQ_PORT=5672
    - RABBITMQ_USER=admin
    - RABBITMQ_PASSWORD=admin
    - NODE_ROLE=q2_group
    - NODE_ID=1
    networks:
    - coffee_net
    volumes:
    - ./config/q2_group.json:/app/config/q2_group.json:ro
  group-by-node-q2-2:
    container_name: group-by-node-q2-2
    build: .
    environment:
    - RABBITMQ_HOST=rabbitmq
    - RABBITMQ_PORT=5672
    - RABBITMQ_USER=admin
    - RABBITMQ_PASSWORD=admin
    - NODE_ROLE=q2_group
    - NODE_ID=2
    networks:
    - coffee_net
    volumes:
    - ./config/q2_group.json:/app/config/q2_group.json:ro
  group-by-node-q2-3:
    container_name: group-by-node-q2-3
    build: .
    environment:
    - RABBITMQ_HOST=rabbitmq
    - RABBITMQ_PORT=5672
    - RABBITMQ_USER=admin
    - RABBITMQ_PASSWORD=admin
    - NODE_ROLE=q2_group
    - NODE_ID=3
    networks:
    - coffee_net
    volumes:
    - ./config/q2_group.json:/app/config/q2_group.json:ro
  group-by-node-q2-4:
    container_name: group-by-node-q2-4
    build: .
    environment:
    - RABBITMQ_HOST=rabbitmq
    - RABBITMQ_PORT=5672
    - RABBITMQ_USER=admin
    - RABBITMQ_PASSWORD=admin
    - NODE_ROLE=q2_group
    - NODE_ID=4
    networks:
    - coffee_net
    volumes:
    - ./config/q2_group.json:/app/config/q2_group.json:ro
  group-by-node-q3-1:
    container_name: group-by-node-q3-1
    build: .
    environment:
    - RABBITMQ_HOST=rabbitmq
    - RABBITMQ_PORT=5672
    - RABBITMQ_USER=admin
    - RABBITMQ_PASSWORD=admin
    - NODE_ROLE=q3_group
    - NODE_ID=1
    networks:
    - coffee_net
    volumes:
    - ./config/q3_group.json:/app/config/q3_group.json:ro
  group-by-node-q3-2:
    container_name: group-by-node-q3-2
    build: .
    environment:
    - RABBITMQ_HOST=rabbitmq
    - RABBITMQ_PORT=5672
    - RABBITMQ_USER=admin
    - RABBITMQ_PASSWORD=admin
    - NODE_ROLE=q3_group
    - NODE_ID=2
    networks:
    - coffee_net
    volumes:
    - ./config/q3_group.json:/app/config/q3_group.json:ro
  group-by-node-q3-3:
    container_name: group-by-node-q3-3
    build: .
    environment:
    - RABBITMQ_HOST=rabbitmq
    - RABBITMQ_PORT=5672
    - RABBITMQ_USER=admin
    - RABBITMQ_PASSWORD=admin
    - NODE_ROLE=q3_group
    - NODE_ID=3
    networks:
    - coffee_net
    volumes:
    - ./config/q3_group.json:/app/config/q3_group.json:ro
  group-by-node-q3-4:
    container_name: group-by-node-q3-4
    build: .
    environment:
    - RABBITMQ_HOST=rabbitmq
    - RABBITMQ_PORT=5672
    - RABBITMQ_USER=admin
    - RABBITMQ_PASSWORD=admin
    - NODE_ROLE=q3_group
    - NODE_ID=4
    networks:
    - coffee_net
    volumes:
    - ./config/q3_group.json:/app/config/q3_group.json:ro
  group-by-node-q4-1:
    container_name: group-by-node-q4-1
    build: .
    environment:
    - RABBITMQ_HOST=rabbitmq
    - RABBITMQ_PORT=5672
    - RABBITMQ_USER=admin
    - RABBITMQ_PASSWORD=admin
    - NODE_ROLE=q4_group
    - NODE_ID=1
    networks:
    - coffee_net
    volumes:
    - ./config/q4_group.json:/app/config/q4_group.json:ro
  group-by-node-q4-2:
    container_name: group-by-node-q4-2
    build: .
    environment:
    - RABBITMQ_HOST=rabbitmq
    - RABBITMQ_PORT=5672
    - RABBITMQ_USER=admin
    - RABBITMQ_PASSWORD=admin
    - NODE_ROLE=q4_group
    - NODE_ID=2
    networks:
    - coffee_net
    volumes:
    - ./config/q4_group.json:/app/config/q4_group.json:ro
  group-by-node-q4-3:
    container_name: group-by-node-q4-3
    build: .
    environment:
    - RABBITMQ_HOST=rabbitmq
    - RABBITMQ_PORT=5672
    - RABBITMQ_USER=admin
    - RABBITMQ_PASSWORD=admin
    - NODE_ROLE=q4_group
    - NODE_ID=3
    networks:
    - coffee_net
    volumes:
    - ./config/q4_group.json:/app/config/q4_group.json:ro
  group-by-node-q4-4:
    container_name: group-by-node-q4-4
    build: .
    environment:
    - RABBITMQ_HOST=rabbitmq
    - RABBITMQ_PORT=5672
    - RABBITMQ_USER=admin
    - RABBITMQ_PASSWORD=admin
    - NODE_ROLE=q4_group
    - NODE_ID=4
    networks:
    - coffee_net
    volumes:
    - ./config/q4_group.json:/app/config/q4_group.json:ro
  aggregate-node-q2-1:
    container_name: aggregate-node-q2-1
    build: .
    environment:
    - RABBITMQ_HOST=rabbitmq
    - RABBITMQ_PORT=5672
    - RABBITMQ_USER=admin
    - RABBITMQ_PASSWORD=admin
    - NODE_ROLE=q2_aggregate
    - NODE_ID=1
    networks:
    - coffee_net
    volumes:
    - ./config/q2_aggregate.json:/app/config/q2_aggregate.json:ro
  aggregate-node-q3-1:
    container_name: aggregate-node-q3-1
    build: .
    environment:
    - RABBITMQ_HOST=rabbitmq
    - RABBITMQ_PORT=5672
    - RABBITMQ_USER=admin
    - RABBITMQ_PASSWORD=admin
    - NODE_ROLE=q3_aggregate
    - NODE_ID=1
    networks:
    - coffee_net
    volumes:
    - ./config/q3_aggregate.json:/app/config/q3_aggregate.json:ro
  aggregate-node-q4-1:
    container_name: aggregate-node-q4-1
    build: .
    environment:
    - RABBITMQ_HOST=rabbitmq
    - RABBITMQ_PORT=5672
    - RABBITMQ_USER=admin
    - RABBITMQ_PASSWORD=admin
    - NODE_ROLE=q4_aggregate
    - NODE_ID=1
    networks:
    - coffee_net
    volumes:
    - ./config/q4_aggregate.json:/app/config/q4_aggregate.json:ro
  joiner-node-q2-1:
    container_name: joiner-node-q2-1
    build: .
    environment:
    - RABBITMQ_HOST=rabbitmq
    - RABBITMQ_PORT=5672
    - RABBITMQ_USER=admin
    - RABBITMQ_PASSWORD=admin
    - NODE_ROLE=q2_join
    - NODE_ID=1
    networks:
    - coffee_net
    volumes:
    - ./config/q2_join.json:/app/config/q2_join.json:ro
  joiner-node-q3-1:
    container_name: joiner-node-q3-1
    build: .
    environment:
    - RABBITMQ_HOST=rabbitmq
    - RABBITMQ_PORT=5672
    - RABBITMQ_USER=admin
    - RABBITMQ_PASSWORD=admin
    - NODE_ROLE=q3_join
    - NODE_ID=1
    networks:
    - coffee_net
    volumes:
    - ./config/q3_join.json:/app/config/q3_join.json:ro
  joiner-node-q4-users-1:
    container_name: joiner-node-q4-users-1
    build: .
    environment:
    - RABBITMQ_HOST=rabbitmq
    - RABBITMQ_PORT=5672
    - RABBITMQ_USER=admin
    - RABBITMQ_PASSWORD=admin
    - NODE_ROLE=q4_join_users
    - NODE_ID=1
    networks:
    - coffee_net
    volumes:
    - ./config/q4_join_users.json:/app/config/q4_join_users.json:ro
  joiner-node-q4-stores-1:
    container_name: joiner-node-q4-stores-1
    build: .
    environment:
    - RABBITMQ_HOST=rabbitmq
    - RABBITMQ_PORT=5672
    - RABBITMQ_USER=admin
    - RABBITMQ_PASSWORD=admin
    - NODE_ROLE=q4_join_stores
    - NODE_ID=1
    networks:
    - coffee_net
    volumes:
    - ./config/q4_join_stores.json:/app/config/q4_join_stores.json:ro
networks:
  coffee_net:
    external: true
    name: connection-node_coffee_net
