version: '3.8'
services:
  filter-node-year-01:
    build: .
    environment:
    - RABBITMQ_HOST=rabbitmq
    - RABBITMQ_PORT=5672
    - RABBITMQ_USER=admin
    - RABBITMQ_PASSWORD=admin
    - NODE_ROLE=filter_year
    - NODE_ID=01
    networks:
    - coffee_net
  filter-node-year-02:
    build: .
    environment:
    - RABBITMQ_HOST=rabbitmq
    - RABBITMQ_PORT=5672
    - RABBITMQ_USER=admin
    - RABBITMQ_PASSWORD=admin
    - NODE_ROLE=filter_year
    - NODE_ID=02
    networks:
    - coffee_net
  filter-node-year-03:
    build: .
    environment:
    - RABBITMQ_HOST=rabbitmq
    - RABBITMQ_PORT=5672
    - RABBITMQ_USER=admin
    - RABBITMQ_PASSWORD=admin
    - NODE_ROLE=filter_year
    - NODE_ID=03
    networks:
    - coffee_net
  filter-node-hour-01:
    build: .
    environment:
    - RABBITMQ_HOST=rabbitmq
    - RABBITMQ_PORT=5672
    - RABBITMQ_USER=admin
    - RABBITMQ_PASSWORD=admin
    - NODE_ROLE=filter_hour
    - NODE_ID=01
    networks:
    - coffee_net
  filter-node-hour-02:
    build: .
    environment:
    - RABBITMQ_HOST=rabbitmq
    - RABBITMQ_PORT=5672
    - RABBITMQ_USER=admin
    - RABBITMQ_PASSWORD=admin
    - NODE_ROLE=filter_hour
    - NODE_ID=02
    networks:
    - coffee_net
  filter-node-hour-03:
    build: .
    environment:
    - RABBITMQ_HOST=rabbitmq
    - RABBITMQ_PORT=5672
    - RABBITMQ_USER=admin
    - RABBITMQ_PASSWORD=admin
    - NODE_ROLE=filter_hour
    - NODE_ID=03
    networks:
    - coffee_net
networks:
  coffee_net:
    external: true
    name: connection-node_coffee_net
