services:
  filter-node-year-01:
    build: .
    environment:
    - RABBITMQ_HOST=rabbitmq
    - RABBITMQ_PORT=5672
    - RABBITMQ_USER=admin
    - RABBITMQ_PASSWORD=admin
    - NODE_ROLE=filter_year
    - NODE_ID=01
    networks:
    - coffee_net
    volumes:
    - ./config/filter_year.json:/app/config/filter_year.json:ro
  filter-node-year-02:
    build: .
    environment:
    - RABBITMQ_HOST=rabbitmq
    - RABBITMQ_PORT=5672
    - RABBITMQ_USER=admin
    - RABBITMQ_PASSWORD=admin
    - NODE_ROLE=filter_year
    - NODE_ID=02
    networks:
    - coffee_net
    volumes:
    - ./config/filter_year.json:/app/config/filter_year.json:ro
  filter-node-hour-01:
    build: .
    environment:
    - RABBITMQ_HOST=rabbitmq
    - RABBITMQ_PORT=5672
    - RABBITMQ_USER=admin
    - RABBITMQ_PASSWORD=admin
    - NODE_ROLE=filter_hour
    - NODE_ID=01
    networks:
    - coffee_net
    volumes:
    - ./config/filter_hour.json:/app/config/filter_hour.json:ro
  filter-node-hour-02:
    build: .
    environment:
    - RABBITMQ_HOST=rabbitmq
    - RABBITMQ_PORT=5672
    - RABBITMQ_USER=admin
    - RABBITMQ_PASSWORD=admin
    - NODE_ROLE=filter_hour
    - NODE_ID=02
    networks:
    - coffee_net
    volumes:
    - ./config/filter_hour.json:/app/config/filter_hour.json:ro
  filter-node-amount-01:
    build: .
    environment:
    - RABBITMQ_HOST=rabbitmq
    - RABBITMQ_PORT=5672
    - RABBITMQ_USER=admin
    - RABBITMQ_PASSWORD=admin
    - NODE_ROLE=filter_amount
    - NODE_ID=01
    networks:
    - coffee_net
    volumes:
    - ./config/filter_amount.json:/app/config/filter_amount.json:ro
  filter-node-amount-02:
    build: .
    environment:
    - RABBITMQ_HOST=rabbitmq
    - RABBITMQ_PORT=5672
    - RABBITMQ_USER=admin
    - RABBITMQ_PASSWORD=admin
    - NODE_ROLE=filter_amount
    - NODE_ID=02
    networks:
    - coffee_net
    volumes:
    - ./config/filter_amount.json:/app/config/filter_amount.json:ro
networks:
  coffee_net:
    external: true
    name: connection-node_coffee_net
