version: '3.8'
services:
  filter-node-year-01:
    build: .
    environment:
      - NODE_ROLE=filter_year
      - NODE_ID=01
      - RABBITMQ_HOST=rabbitmq
      - RABBITMQ_PORT=5672
      - RABBITMQ_USER=admin
      - RABBITMQ_PASSWORD=admin
    networks:
      - coffee_net

networks:
  coffee_net:
    external: true
    name: conection-node_coffee_net
